*{
box-sizing: border-box;
scroll-behavior: smooth;
}

@font-face{
    font-family: 'Quicksand';
    src: url(./fonts/Quicksand-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face{
    font-family: 'Quicksand';
    src: url(./fonts/Quicksand-Bold.ttf) format('truetype');
    font-weight: bold;
}



body{
    font-family: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
  }

.body{
    text-align: center;
}

.navBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 6.5rem;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.logoBox img{
    width: auto;
    height: auto;
}

.even{
    background-color: #ececec;
}

.headLinksBox span a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #c5c5c5;
    /* color: #bcbcbc; */
    overflow: hidden;
    transition: 1s ease;
}

.headLinksBox span a:hover{
    /* padding: 5px;
    box-shadow: 1.5px 2px 4px #00b600; */
    color: #fff;
    font-size: 1.25rem;

}

.headLinksBox span{
    padding: 0 25px;
}

.heroSection{
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    width: 100%;
    background-color: #000;
}

.heroText{
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: -2px;
    line-height: 200%;
    text-align: center;
    color: #fff;
    padding: 0 3px;    
}

.context{
    line-height: 100%;
    font-weight: 500;
    color: #c5c5c5;
}


.heroImgBox{
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* padding-top: 3rem; */
    /* justify-content: center; */
}

.heroImgBox img{
    width: 100%;
    height: auto;
}

.bookForm{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 500;
    /* border: 2px solid #000; */
    padding: 20px;
}

.bookForm label {
    display: flex;
    align-items: flex-start;
}


.bookForm input{
    padding: 5px;
    font-size: 1.1rem;
    font-weight: 400;
    align-items: flex-start;

    /* padding: 10px;
    margin: 10px; */
    /* border: 2px solid red; */
}

.bookCallModal{
    border: none;
    width: 80%;
}

.bookCallModal::backdrop{
    backdrop-filter: blur(3px);
}

.closeBtnBox{
    display: flex;
    justify-content: flex-end;
}

.closeFormBtn{
    background-color: #fff;
    font-size: 1.6rem;
    border: none;
}

.bookBtn{
    padding: 10px;
    margin-top: 10px;
    background-color: #015601;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;

}

.build{
    background-color:#015601;
    color: #fff;
    padding: 0 5px;
    font-size: 1.8rem;
}

.call{
    width: 70%;
    padding: 10px;
    margin: 20px;
    color:#fff;
    font-weight: 600;
    background-color: #015601;
    border: 0.5px solid #fff;
    outline: 3px solid #015601;
    border-radius: 5px;
    font-size: 1.3rem;
    transition: .5s ease;
}

.want a{
    text-decoration: none;
}

.call:hover{
    transform: scale(1.01);
    box-shadow: 3px 5px 8px #000;
}

.sectionContent{
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
    transition: transform 1s ease;
}



.sectionContent img{
    width: 45%;
    height: auto;
    object-fit: cover;
}

 .sectionContent .abt{
    border: 0.8px solid #c5c5c5;
    /* box-shadow: 0px 1px 1px #000; */
    width: 55%;
    height: auto;
    padding: 10px;
}


.sectionContent:hover{
    transform: translateY(4px) scale(1.02);

}

.sectionContent:last-child{
    justify-content: center;
}


.sectionContent h3{
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

.sectionContent p{
    font-size: 1.1rem;
}

.callR{
  display: flex;
  justify-content: center;
}

.one{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.one .sectionContent11{
    text-align: center;
    /* width: 30rem;
    height: 20rem; */
    margin: 20px;
    padding: 0.5px 0;
    border: 5px solid black !important;
    outline: 0.5px solid #a6a6a6 !important;
    box-shadow: 0 3px 6px #000;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.gg{
    width: 22rem;
    height: initial;
}

.sectionHead{
    font-size: 2.5rem;
    letter-spacing: -1px;
}

.sectionHead + p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #272727;
}

.processContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.processBox img{
    width: 6rem;
    height: 6rem;
    padding: 10px;
    background-color: #000;
    border-radius: 50%;
}

.processBox{
    display: block;
    width: 80%;
    padding: 20px;
    margin: 10px;
    font-size: 1.1rem;
    /* background-color: #cacaca; */
    border-radius: 10px;
    box-shadow: 0 5px 10px #000;

}


.pricingSection{
    /* border: 2px solid black; */
    width: 100%;
    /* background-color: #c1c3c1; */
}

.price{
    display: flex;
    width: 100%;
    flex-direction: row;
   flex-wrap: wrap;
    justify-content: center;
    color: #2f2f2f
}

.price .priceBox{
    width: 95%;
    height: auto;
    /* border: 0.5px solid black; */
    padding: 15px;
    margin: 10px;
    text-align: justify;
    /* line-height: 2rem; */
    /* background-color: #181818; */
    background-color: #fff;
    color: #000;
    border-radius: 35px;
    box-shadow: 0 2px 4px #001200;
    font-size: 1.1rem;
}

.tt{
    font-size: 1.8rem;
    color: #000;
    font-weight: 700;
    text-align: center;
}

.inn, .notinn{
    /* background-color:#d4f9d4; */
    padding: 0 5px;
    font-weight: bold;
    border-radius: 10px;
}

.inni, .notInni{
    padding: 0;
}

.notinn{
    /* background-color: #ffc1c1; */
}

.add{
    /* color: #004700; */
    text-align: center;
    color: #575757;
    font-weight: bold;
    /* border: 0.1px dotted #707070;
    border-radius: 5px; */
}

.want{
   text-align: center;
   margin: 10px 0;
}

.faqContainer{
    text-align: left;
    padding: 20px;
}

.faqContainer .sectionHead{
    text-align: center;
}

.faq{
    padding: 15px;
    margin: 5px;
    background-color: #ececec;
    border: 2px solid black;
    cursor: pointer;
}

.faq summary{
    font-weight: bold;
}





.moreEnquiryTxt{
    display: flex;
    margin: 20px;
    background-color: #015601;
    padding: 30px;
    color: #fff;
}


.enquirySection{
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 15px;
    flex-wrap: wrap;
}



.enquirySection label input, .formSubmit{
    width: 20rem;
    height: 35px;
    border-radius: 15px;
    /* border: none; */
    padding: 0 15px;
}

.reason{
   text-align: left;
   line-height: 30px;
   font-weight: 400;
}

input[type="radio"]{
    accent-color: green;    
}


.nameErr, .emailErr{
    color: red;
}

legend{
    text-align: left;
    padding: 8px;
    font-weight: 600;
}


.formSubmit{
    background-color:#015601;
    color: #fff;
    font-weight: 700;
    font-size: 1.15rem;
    margin-top: 15px;
}

.moreInfo{
    background-color: #015601;
    color: #fff;
    font-size: 1rem;
    border: 1.2px solid #fff;
    outline: 3px solid #015601;
    padding: 15px;
   margin: 20px;
    font-weight: 600;
    border-radius: 5px;
}

.socialIcon{
   width: 1.5rem;
   height: 1.5rem;
}

.footer{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around;
   align-content: center;
   flex-wrap: wrap;
    /* background-color: #202020; */
    background-color: #000;
    /* color: #00b600; */
    color: #c5c5c5;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
}

.footer a{
    /* color: #00b600; */
    color:#c5c5c5;
    padding: 0 15px;
    text-decoration: none;
    transition: 1s ease;
}

.footer a:hover{
    color: #fff;
    font-size: 1.1rem;
}


/* this is for any screen other than phones */

@media (min-width: 768px){
.heroSection{
    flex-direction: row;
    padding-top: 4rem;
    width: 100%;
    /* height: 80vh; */
}

.heroText{
    width: 55%;
}

.heroImgBox{
    width: 45%;
    padding-top: 1.5rem;
    align-content: center;
    /* height: 80vh; */
}

.call{
    width: 55%;
}

.whatWeDoBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.whatWeDoBox div:nth-child(-n+4){
    width: 45%;
}

.whatWeDoBox div:last-child{
   justify-content: center;
}

.whatWeDoBox .sectionContent p{
    padding: 20px;
}


.processContainer{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}


.processBox{
    width: 30%;
}

.bookCallModal{
    width: 60%;
}

}


/* tablet breakpoint */
@media (min-width: 768px){
    /* price box */
    .price .priceBox{
        width: 45%;
}

}


/* laptops  breakpoint*/
@media (min-width: 1024px){
    /* price box */
    .price .priceBox{
        width: 30%;
}

}

/* desktop breakpoint */
@media (min-width: 1440px){
    /* price box */
    .price .priceBox{
        width: 30%;
}
}
